<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images\css\style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/8e71c04ec1.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="LOGO">
        <br>
        <nav>
            <div class="search">
                <form>
                    <input type="text" placeholder="Buscar productos, marcas...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></fa-magnifying-glass></i></button>
                </form>
                <br>
            <div class="cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas sin tarjeta de crédito</div>
            </div>
            <ul>
                <li> <a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <br>
                <li><a href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <div class="titulares"><b>Basado en tu útlima visita</b></div>
            <img class="imagen" src="images\img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <div class="price">$6.770</div>
            <div class="off">40% OFF</div>
            <div><b>Cafetera Moulinex</b></div>
            <br>
            <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <br>
            <div class="price">$230.000</div>
            <div class="off">20% OFF</div>
            <div><b>MacBook Pro 2019</b></div>
            <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="celu">
            <br>
            <div class="price">$70.500</div>
            <div class="off">10% OFF</div>
            <div><b>Samsung Galaxy S10</b></div>
            <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
            <br>
            <div class="price">$23.200</div>
            <div class="off">5% OFF</div>
            <div><b>SmartTv Samsung 43"</b></div>
        </section>
        <br>
        <section>
            <div class="titulares"><b>Ofertas</b></div>
            <img class="imagen" src="images\img-cafetera-moulinex.jpg" alt="cafetera">
            <br>
            <div class="price">$6.770</div>
            <div class="off">40% OFF</div>
            <div><b>Cafetera Moulinex</b></div>
            <br>
            <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
            <br>
            <div class="price">$230.000</div>
            <div class="off">20% OFF</div>
            <div><b>MacBook Pro 2019</b></div>
            <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="celu">
            <br>
            <div class="price">$70.500</div>
            <div class="off">10% OFF</div>
            <div><b>Samsung Galaxy S10</b></div>
            <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
            <br>
            <div class="price">$23.200</div>
            <div class="off">5% OFF</div>
            <div><b>SmartTv Samsung 43"</b></div>
        </section>
    </main>
    <br>
    <footer>
        <div><b>Pagá con tarjeta o en efectivo</b></div>
        <div>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        <br>
        <div><b>Envio gratis desde $2.500,00</b></div>
        <div>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</div>
        <br>
        <div><b>Seguridad de principio a fin</b></div>
        <div>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no peudas hacer porque estás siempre protegide</div>
        <br>
        <div>copyright 1999-2020 MercadoLiebre SRL</div>
    </footer>

</body>
</html>