body {
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    border-style: solid;
    border-color: #EAC926;
    margin: 0px -10px 0px -10px;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.imagen {
    width: 200px;
    height:200px;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 25px;
    margin: 0 auto;
    }

.fas {
    text-align: center;
}

main {
    background-color: white;
}

.titulares {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

.off {
    font-size: 16px;
}

.cuotas{
    text-align: center;
}

footer {
    background-color: white;
    text-align: center;
    color: #666;
}

.copy {
    text-align: left;
    font-size: 10px;
}

#bold {
    font-weight: bold;
}

.negrita {
    font-weight: bold;
    font-size: 15px;
}

.fa-user-shield {
    font-size: 2em;
    color: #0e67c6;
    margin-bottom: 10px;
}

.fa-credit-card {
    font-size: 2em;
    color: #0e67c6;
    margin-bottom: 10px;
}

.fa-gift {
    font-size: 2em;
    color: #0e67c6;
    margin-bottom: 10px;
}